/node_modules
/dist
/public/*
/.well-known
/.env
/.env.development
/.env.production
/.env.test
!/.env.example
!/.env.*.example
/.externalToolBuilders/
/.project
/.settings/
/private/*
!/private/index.html
/src/generated
